<div class="container border shadow pt-5 mt-4 mb-4">
  <h1 class="text-center pt-2">Categoria</h1>
  <form (ngSubmit) = "enviarFormulario()">
    <div class="row">
      <div class="col-md-1 col-lg-3 "></div>
      <div class="col-12 col-md-10 col-lg-6 ">
        <mat-form-field class="col-12">
          <mat-label>Nombre</mat-label>
          <input name="nombre" [(ngModel)] ='categoria.nombre'  matInput >
        </mat-form-field>
      </div>
      <div class="col-md-1 col-lg-3"></div>
    </div>
    <div class="row">
      <div class="col-md-1 col-lg-3 "></div>
      <div class="col-12 col-md-10 col-lg-6 ">
        <mat-form-field class="col-12">
          <mat-label>Descripcion</mat-label>
          <input matInput name="descripcion" [(ngModel)] ='categoria.descripcion'>
        </mat-form-field>
      </div>
      <div class="col-md-1 col-lg-3"></div>
    </div>
    <!-- <div class="row">
      <div class="col-md-1 col-lg-3 "></div>
      <div class="col-12 col-md-10 col-lg-6 ">
        <mat-form-field class="col-12">
          <mat-label>Estudiante</mat-label>
          <input matInput name="estudiante" [(ngModel)] ="categoria.estudiante">
        </mat-form-field>
      </div>
      <div class="col-md-1 col-lg-3"></div>
    </div> -->
    <div class="row"><div class="col-md-1 col-lg-3 "></div>
    <div class="col-12 col-md-10 col-lg-6 ">
      <input class = "btn indigo col-12 mb-5" type="submit" value = {{categoria.descripcion}} >
    </div>
    <div class="col-md-1 col-lg-3"></div>
  </div>
  </form>
</div>
